doctype html
html
    head 
        title home
        link(rel = "stylesheet", href="/styles/layout.css")
        link(rel = "stylesheet", href="/styles/home.css")
        link(rel = "stylesheet", href="/styles/form.css")
        link(rel = "stylesheet", href="/styles/view.css")

    body

        header
            div(class = "header_text")
                h1: a(href="/home")  Blog  
        hr        
                       
                     

        block contents        

         
            